<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	{{> header}}
	<h1>{{screamIt_H welcomeMessage}}</h1>
	
	
	{{!-- this allows a footer to be added as a partial --}}
	{{> footer}}
</body>
</html>